<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/contactStyle.css">
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <title>Conatact Us</title>
</head>
<body>

    <header>
        <img class="logo" src="images/coral_heaven_logo.png" alt="logo">
        <nav>
            <ul class="nav-links">
                <li><a class = "a" href="/">Home</a></li>
                <li><a class = "a" id="go-to-about" href="/#about">About us</a></li>
                <li><a class = "a" id="go-to-articles" href="/#articles">Articles</a></li>
                <li><a class = "a" href="/game">Game</a></li>
            </ul>
        </nav>
        <a class="contact-link" href="/contact"><button class="contact-button">Contact</button></a>
        <a class="contact-link" href="/register"><button class="contact-button">Login/Register</button></a>
    </header>

    <div class="form-container">
        <form class="contact-form" action="/contact" method = "POST">
            <h2>CONTACT US</h2>
            <input type="text" name="name_" id="name" placeholder="Full name"></br>
            <input type="email" name="email" id="email" placeholder="Email"></br>
            <input type="text" name="subject" id="subject" placeholder="Subject"></br>
            <textarea id="message" name="message" placeholder="Message" cols="30" rows="10"></textarea></br>
            <input type="submit" class="submit" value="Send Message">
        </form>
    </div>

    <footer>
        <div class="rights">
            <p class="white"> © 2021 Coral Heaven. All Rights Reserved.</p>
        </div>
    </footer>
    
    <script src="/js/contact.js"></script>
</body>
</html>