<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/formsStyle.css">
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <title>Conatact Us</title>
</head>
<body>

    <%- include('partials/header') %> 

    <div class="form-container">
        <form class="contact-form" action="/contact" method = "POST">
            <h2>CONTACT US</h2>
            <input type="text" name="name_" id="name" placeholder="Full name">
            <input type="email" name="email" id="email" placeholder="Email: example@gmail.com">
            <input type="text" name="subject" id="subject" placeholder="Subject">
            <textarea id="message" name="message" placeholder="Message" cols="30" rows="10"></textarea>
            <input type="submit" class="submit" value="Send Message">
        </form>
    </div>

    <%- include('partials/footer') %>
    
    <script src="/js/contact.js"></script>
</body>
</html>