<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\public\css\articles.css">
    <link rel="icon" href="\public\images\logo.png" type="image/x-icon">
    <title>Organisations helping corals</title>
</head>
<body>

    <header>
        <img class="logo" src="images/coral_heaven_logo.png" alt="logo">
        <nav>
            <ul class="nav-links">
                <li><a class = "a" href="/">Home</a></li>
                <li><a class = "a" id="go-to-about" href="/#about">About us</a></li>
                <li><a class = "a" id="go-to-articles" href="/#articles">Articles</a></li>
                <li><a class = "a" href="/game">Game</a></li>
            </ul>
        </nav>
        <a class="contact-link" href="/contact"><button class="contact-button">Contact</button></a>
        <a class="contact-link" href="/register"><button class="contact-button">Register</button></a>
    </header>

    <div class = "article">
        <h1>Which organisations are trying to save corals?</h1>
        <p>Fortunately, there are many organisations that fight for the existence of corals. Here are some of them:</p>

        <h2>1. Coral Reef Aliiance</h2>
        <p> It takes a large community to implement CORAL’s conservation efforts around the world,
            and a small, efficient team in Oakland and coral reef regions around the world to lead
            them. If you have a passion for ocean conservation and believe in our mission of saving
            the world’s coral reefs, there might be a role for you at CORAL.
        </p>

            <img class = "img1" src = "\public\images\cra.jpg"> 

        <h2>2. The United States Coral Reef Task Force</h2>
        <p> The United States Coral Reef Task Force (USCRTF) was established in 1998 by Presidential Executive Order to lead U.S. efforts to preserve and 
            protect coral reef ecosystems. The USCRTF includes leaders of 12 Federal agencies, seven U.S. States, Territories, Commonwealths, 
            and three Freely Associated States. The USCRTF helps build partnerships, strategies, and support for on-the-ground action to conserve coral reefs.
        </p>

            <img class = "img3" src = "\public\images\TaskForce.jpg">

        <h2>3. Coral Reef Rescue Initiative</h2>
        <p>It consists from a group of leading scientists, NGOs and influential partners, working in collaboration with governments and communities to safeguard reefs, 
            food security, and livelihoods against climate change.
        </p>

        <p> Combining the latest science with emerging innovations in nature-based solutions and a strategic, collaborative approach, they are leading a worldwide 
            coral reef revival.
        </p>

            <img class = "img2" src = "\public\images\manboath.jpg"
    </div>

    <h1 class="center">Read about:</h1>

    <div class="tilesart">

        <a class="tile" href="/IoT-for-corals"><img src="images/IoT.png" />
            <div class="details"><span class="title">IoT for corals</span><span class="info">How Internet of Things help corals to survive</span></div>
        </a>
        <a class="tile" href="/ImportanceOfCorals"><img src="images/why.jpg" />
            <div class="details"><span class="title ">Importance of corals</span><span class="info">What is the purpose of corals for our planet</span></div>
        </a>
    </div>

    <footer>
        <div class="rights">
            <p class="white"> © 2021 Coral Heaven. All Rights Reserved.</p>
        </div>
    </footer>



</body>
</html>