<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/articles.css">
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <title>Coral Adoption</title>
</head>
<body>

    <%- include('partials/header') %> 
    
    <div class = "article">
    <h1>What is coral adoption?</h1>
    <p>Tropical coral reefs are the most diverse marine ecosystems on earth, giving shelter to thousands of
       animal species. Many millions of people depend on fisheries, tourism and coastal protection provided 
       by healthy coral reefs. Yet today, coral reefs are dying at an alarming rate all around the globe.</p>
    
    <p>A world without corals means not only will we have a less diverse and less beautiful ocean, but it will
       also be an economic disaster for many people—predominantly in developing countries. Fisheries and
       tourism provide important livelihoods that directly depend on healthy coral reefs. Reefs are nurseries
       for many fish species, including commercial ones, and attract millions of tourists every year. Coral
       reefs offer natural coastal protection, especially in areas frequently impacted by hurricanes and
       tropical storms. The great biodiversity of coral reefs serves as an important source for new medicinal
       remedies. In short, dead coral means dead ocean. That is why a group of people in the Seychelles islands
       stepped in to help. They made a program to allow you, me or anyone to adopt coral.</p>

    <center><iframe style="padding-top: 50px;" width="550" height="400" src="https://www.youtube.com/embed/5vJN4uiX_So" frameborder="0" allowfullscreen></iframe></center><br>

    <p>The process of adopting a coral is simple. You pick a coral from their kiosk and pay a small donation.
       They take it, go to the ocean, plant it for you and give you a certificate of adoption. Your coral will
       grow to replace the dead ones and make the fish and oceans more alive. If millions of people do their small 
       part to help revive the oceans then maybe just maybe the oceans will not die after all…</p>

    </div>

    <h1 class="center">Read about:</h1>

    <div class="tilesart">

        <a class="tile" href="/IoT-for-corals"><img src="images/IoT.png" />
            <div class="details"><span class="title">IoT for corals</span><span class="info">How Internet of Things help corals to survive</span></div>
        </a>
        <a class="tile" href="/ImportanceOfCorals"><img src="images/why.jpg" />
            <div class="details"><span class="title ">Importance of corals</span><span class="info">What is the purpose of corals for our planet</span></div>
        </a>
    </div>
    <%- include('partials/footer') %>
</body>
</html>