<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/articles.css">
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <title>Corals Info</title>
</head>
<body>
    <%- include('partials/header') %> 
    
    <h1>Corals list</h1>
    <%for(let i = 0; i < CoralList.length; i++) { %> 
        <h4 >Name: <%=CoralList[i].typeName%></h4>
        <h4>Description: <%=CoralList[i].description%></h4>
    <%}%>

    <footer>
        <div class="rights">
            <p class="white"> © 2021 Coral Heaven. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>