<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\css\gameStyle.css">
    <title>Project "Aqua"</title>
</head>
<body>
    <header>
        <img class="logo" src="" alt="logo">
        <nav>
            <ul class="nav-links">
                <li><a class = "a" href="/">Home</a></li>
                <li><a class = "a" id="go-to-about" href="../index.html#about">About us</a></li>
                <li><a class = "a" id="go-to-articles" href="../index.html#articles">Articles</a></li>
            </ul>
        </nav>
        <a class="contact-link" href=""><button class="contact-button">Contact</button></a>
        <a class="contact-link" href=""><button class="contact-button">Login/Register</button></a>
    </header>
    <section class="memory-game">
        <div class="memory-card" data-framework='coral1'>
            <img class="front-face" src="..\images\game-images\coral1.jpg" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral1'>
            <img class="front-face" src="..\images\game-images\coral1.jpg" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral2'>
            <img class="front-face" src="..\images\game-images\coral2.jpg" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral2'>
            <img class="front-face" src="..\images\game-images\coral2.jpg" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral3'>
            <img class="front-face" src="..\images\game-images\coral3.png" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral3'>
            <img class="front-face" src="..\images\game-images\coral3.png" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral4'>
            <img class="front-face" src="..\images\game-images\coral4.png" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral4'>
            <img class="front-face" src="..\images\game-images\coral4.png" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral5'>
            <img class="front-face" src="..\images\game-images\coral5.png" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral5'>
            <img class="front-face" src="..\images\game-images\coral5.png" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral6'>
            <img class="front-face" src="..\images\game-images\coral6.jpg" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral6'>
            <img class="front-face" src="..\images\game-images\coral6.jpg" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
    </section>

    <footer>
        <div class="rights">
            <p class="white"> © 2021 Coral Heaven. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="..\js\gameScript.js"></script>
</body>
</html>