<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\css\gameStyle.css">
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <title>Memory card game</title>
</head>
<body>
    <header>
        <img class="logo" src="images/coral_heaven_logo.png" alt="logo">
        <nav>
            <ul class="nav-links">
                <li><a class = "a" href="/">Home</a></li>
                <li><a class = "a" id="go-to-about" href="/#about">About us</a></li>
                <li><a class = "a" id="go-to-articles" href="/#articles">Articles</a></li>
            </ul>
        </nav>
        <a class="contact-link" href=""><button class="contact-button">Contact</button></a>
        <a class="contact-link" href=""><button class="contact-button">Login/Register</button></a>
    </header>
    <section class="memory-game">
        <div class="memory-card" data-framework='coral1'>
            <img class="front-face" src="..\images\game-images\coral1.jpg" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral1'>
            <img class="front-face" src="..\images\game-images\coral1.jpg" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral2'>
            <img class="front-face" src="..\images\game-images\coral2.jpg" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral2'>
            <img class="front-face" src="..\images\game-images\coral2.jpg" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral3'>
            <img class="front-face" src="..\images\game-images\coral3.png" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral3'>
            <img class="front-face" src="..\images\game-images\coral3.png" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral4'>
            <img class="front-face" src="..\images\game-images\coral4.png" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral4'>
            <img class="front-face" src="..\images\game-images\coral4.png" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral5'>
            <img class="front-face" src="..\images\game-images\coral5.png" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral5'>
            <img class="front-face" src="..\images\game-images\coral5.png" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral6'>
            <img class="front-face" src="..\images\game-images\coral6.jpg" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
        <div class="memory-card" data-framework='coral6'>
            <img class="front-face" src="..\images\game-images\coral6.jpg" alt="Coral">
            <img class="back-face" src="..\images\game-images\coral-front.jpg" alt="CoralBackFace">
        </div>
    </section>
    <div class = "restart-div">
        <a class = "button_restart" id = "restart_button" onclick = "restartGame()">Restart</a>
    </div>
    <footer>
        <div class="rights">
            <p class="white"> © 2021 Coral Heaven. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="/js/gameScript.js"></script>
</body>
</html>