<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/articles.css">
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <title>How you can help the cause?</title>
</head>
<body>
    <header>
        <img class="logo" src="images/coral_heaven_logo.png" alt="logo">
        <nav>
            <ul class="nav-links">
                <li><a class = "a" href="/">Home</a></li>
                <li><a class = "a" id="go-to-about" href="/#about">About us</a></li>
                <li><a class = "a" id="go-to-articles" href="/#articles">Articles</a></li>
                <li><a class = "a" href="/game">Game</a></li>
            </ul>
        </nav>
        <a class="contact-link" href=""><button class="contact-button">Contact</button></a>
        <a class="contact-link" href=""><button class="contact-button">Login/Register</button></a>
    </header>

    <div class = "article">

        <h1>What You Can Do to Help Protect Coral Reefs?</h1>
        <p>No matter where you live, near the coast or hundreds of miles away, there are several things that you can do to keep coral reefs healthy. Many dangers 
            to coral reefs occur directly on the water but many also come from activities that occur on land, even those far from the coast. Below are lifestyle 
            changes that anyone can adopt that can make a difference for the health of our coral reefs.</p>
        
        <h2>When Visiting Coral Reefs</h2>

        <h3>Practice safe and responsible diving and snorkeling</h3>
        <p>Avoid touching reefs or anchoring your boat on the reef. Contact with the reef will damage the delicate coral animals, and anchoring on the reef can 
           kill corals, so look for sandy bottom or use moorings, if available.</p>

        <h3>Take a reef-friendly approach to sun protection</h3>
        <p>Some ingredients in sunscreen can be harmful to or even kill corals. Inform yourself of safer choices for coral. Better yet, cut down on sunscreen use 
            by wearing a long-sleeved shirt or rash guard to prevent sunburn.<p>

        <h2>Every day</h2>

        <h3>Recycle and dispose of trash properly.</h3>
        <p>Marine debris can be harmful to coral reefs. Recycle your trash at home and on the go (especially plastic), and remember the three R’s 
            (reduce, reuse, and recycle). When disposing of trash, do it properly in bins, to avoid trash being blown or washed away into waterways and oceans. 
            On beaches, make sure you leave no trash behind, and never throw or leave any cigarette butts in the sand.</p>
        <p>You can help keep your rivers and streams clean by volunteering to pick up trash in your community. Check with your local environmental 
            organizations for annual trash clean ups and make sure to check the annual International Coastal Cleanup.</p>

        <h3>Minimize use of fertilizers</h3>
        <p>The overuse of fertilizers on lawns harm water quality because nutrients (nitrogen and phosphorus) from the fertilizer are washed into waterways and 
            eventually end up in oceans. These nutrients pollute the water and can harm coral reefs.</p>

            <img class = "img1" src ="images/green.png">

        <h3>Use environmentally-friendly modes of transportation</h3>
        <p>Instead of driving a car, try to walk, bike, or use public transport (like buses and trains) more often. If you are planning to buy a car, choose a 
            fuel-efficient vehicle like a hybrid or electric car. Using these cleaner transportation methods can help reduce the amount of greenhouse gasses that 
            are emitted into the atmosphere. These emissions contribute to ocean acidification and increased ocean temperature. More acidic ocean waters impede 
            coral growth and warmer waters cause coral bleaching.</p>

            <img class = "img1" src ="images/leaf.jpg">

        <h3>Reduce stormwater runoff</h3>
        <p>Reducing stormwater runoff can help prevent water pollution, reduce flooding, and protect our water resources. Homeowners can install water catchments 
           or rain gardens and use rain barrels to collect rainwater that would otherwise be diverted to storm drains.</p>

        <h3>Save energy at home and at work</h3>
        <p>You can save energy at home by turning off lights and electronic devices when not using them and opting to buy energy-efficient appliances such as 
           Energy Star-certified appliances. At work, try to turn the lights and your computer off when you leave.</p>

        <h3>Be conscious when buying aquarium fish</h3>
        <p>Avoid purchasing living coral and if you buy a marine aquarium fish, make sure that it has been collected in a sustainable manner.</p>

        <h3>Spread the word!</h3>
        <p>Learn more about coral reefs and educate your community. You can share this information with your family, your friends, your local schools and 
           businesses, and you can always contact your local representatives to see what your state is doing to protect water quality and coral reefs.</p>
    </div>

    <h1 class="center">Read about:</h1>

    <div class="tilesart">

        <a class="tile" href="/CoralOrgs"><img src="images/cra.jpg" />
            <div class="details"><span class="title">Organisations for corals</span><span class="info">Find out which organization take role in saving corals</span>
            </div>
        </a>
        <a class="tile" href="/ImportanceOfCorals"><img src="images/why.jpg" />
            <div class="details"><span class="title ">Importance of corals</span><span class="info">What is the purpose of corals for our planet</span></div>
        </a>
    </div>
    
    <footer>
        <div class="rights">
            <p class="white"> © 2021 Coral Heaven. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>