<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/articles.css">
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <title>Importance of corals</title>
</head>
<body>

    <%- include('partials/header') %>
    <%- include('partials/scrollToTop') %> 
      
    <div class = "article">
        <h1>The importance of corals</h1>
        <p>Today over a half of the coral reefs have been lost. Do you really know what corals are and how big is there importance? In this article we will explain
            these things! </p>
    </div>

     <div>
         <img class = "img1" src="images/coral1.png">
     </div>

     <div class ="article">
         <h1>What are corals and coral reefs?</h1>
         <p class = "justify">
            Coral reefs are found in over 100 countries around the world, often in shallow, tropical waters. They come in all sorts of shapes, colours and sizes. 
            But what exactly is a coral reef? Well, to put it simply, it’s a living creature. The reefs that we see in our seas are created by huge colonies of 
            organisms called coral polyps. These little fellas – distant relatives of jellyfish and anemones  – are crucial in forming both the hard and soft coral
            that we find in our reefs. Hard coral is created when polyps take the calcium from the water and transform it into big skeletal, limestone structures.
            Think of these as the building blocks of coral reefs! Soft coral, on the other hand, is much more floaty, plant-like and, well, soft! This is the type
            of coral you’ll see colourfully swaying with the ocean current. They don’t have stony skeletons like the hard coral. Instead, they grow wood-like 
            cores for support and they thrive in nutrient rich waters.
        </p><br>
        
        <h1>What threats do coral reefs face?</h1>
        <p class = "justify">
            Astonishingly, some of our planet’s reefs have been growing for a whopping 50 million years. But that doesn’t mean they’ll go on forever. Despite the 
            many wonderful benefits they bring us, coral reefs are extremely vulnerable to human activity and rapidly changing conditions. Stressors such as 
            overfishing, pollution and unsustainable tourism practices are some of the threats that our coral reefs face today. Compounding these is the growing 
            threat of climate change and rising ocean temperatures. This can lead to coral bleaching, which is a very big problem (just look at the Great Barrier 
            Reef). Coral bleaching happens as a result of these changes in temperature, nutrient and mineral levels in the water. These conditions are bad news for 
            the tiny algae that live within the coral. Incidentally, it’s these algae that give the coral their amazing colour (as well as their main source of 
            food). When stressed, they’re forced to abandon their coral host, leaving the reef bleached white. Not so pretty. If the algae does not return to its
            coral host within a short period of time, the coral will be left without its main food source and, so, won’t survive. 
        </p>

        <img class = "img2" src = "images/beforeAfter.jpg">
        
        <h1>So, what would happen if there were no coral reefs?</h1>
        <p>By now, you might have guessed that this “what if” question isn’t just some over-the-top scenario. The threats to our coral reefs are very real. 
            This is what a world without them could look like:</p>

        <h3>25% of marine life would lose their habitat</h3>
        <p>There’s a reason why coral reefs are known as the ‘rainforests of the sea.’ Despite covering less than 1% of the ocean, they provide essential habitat 
            for 25% (yes, one quarter!) of all marine life. That’s well over 1 million species that live in and depend upon coral reefs around the world. 
            For these creatures, the reef provides essential food, shelter and the spawning grounds needed for their species’ survival. If their homes disappeared,
            marine biodiversity would suffer immensely. And, like a domino effect, many fish, turtles and other creatures would disappear. </p>

        <h3>Coastal fishing industries would collapse</h3>
        <p>OK, so coral reefs support fish (no surprises there then). But if they support fish then they also support fishing industries and the people who 
            consume fish too. According to the United Nations, around one billion people globally depend on coral reefs for their food and livelihoods. 
            Let that sink in for a second. Their disappearance would be catastrophic; resulting in hundreds of millions of people around the world losing 
            their main source of food and income. On top of this, the shortage of seafood in diets would inevitably put pressure on other land-based farming 
            industries who would be required to make up for the shortfall.</p>

        <h3>Coastal tourism economies would shrink</h3>
        <p> From the Great Barrier Reef to the waters of Raja Ampat, coral reefs attract tourists to over 100 countries and territories worldwide. According to 
            a 2017 study, coral reef tourism generates an estimated $36 billion in revenue every single year. Without spectacular reefs to visit, these tourist 
            numbers would fall sharply and the impact would hit local businesses very hard. And we don’t just mean dive centres who rely on global travellers to 
            visit their reefs. Restaurant owners, hoteliers, street vendors and tour guides would all suffer too.</p>
        <img class = "img2" src = "images/boat.jpeg">

        <h3>Coastlines would take a battering</h3>
        <p>Coral reefs don’t just work their magic underwater. It’s a little-known fact that they have a pretty important job of protecting coastlines too by 
            providing a natural buffer against powerful waves and extreme weather. Without them, shorelines would be vulnerable to erosion and rising sea levels 
            would push coast-dwelling communities out of their homes.</p>
        <p> Nearly 200 million people rely on coral reefs to safeguard them from storms. This means that reefs already play an important 
            (and naturally cost-effective) role in protecting human lives. The cost of building sea walls for the same level of protection would be in the 
            trillions!</p>

        <h3>Medical breakthroughs would grind to a halt </h3>
        <p> Did you know coral reefs are often referred to as the ‘medicine chests of the sea’? That’s because the plants and animals that live within the reef 
            hold the key to new treatments for a whole bunch of diseases and ailments. By researching the corals’ natural chemical defenses, scientists are able 
            to develop medicines to treat all sorts: from cancer and arthritis, to Alzheimer’s and heart disease. This means the health of our coral reefs is 
            directly tied to our own health. When you put it like that, losing them all is a very scary prospect.</p>

        <h3>Diving would be a LOT less interesting</h3>
        <p> According to PADI, one million new scuba divers are certified each year and millions more go snorkelling on reefs around the world. There’s a reason why
            corals draw such a huge fanbase in the diving community. Anyone who’s been on a reef dive will tell you that it’s a spectacular, visceral and, often,
            moving experience. The rainbow of colours and life that you find on a healthy reef are out of this world. Diving just wouldn’t be the same without 
            them.</p>

        <h3>The sea would be a whole lot slimier</h3>
        <p> When toying with this hypothetical (but, let’s face it, not altogether unrealistic) scenario of a reef-less world, some scientists have suggested the 
            ocean bed would eventually become dominated by algae. As the skeletal structures of the limestone reefs slowly break away, microbial life would soak 
            up the sun’s energy, producing slime. Lots of slime. Oh, and plenty of jellyfish to graze on the buffet of microbes. So, jellyfish and slime? Yay!</p>

        <h3>There’d be less oxygen </h3>
        <p>  Everyone knows that trees play a major role in producing oxygen in our atmosphere. That’s why the Amazon rainforest is known as the ‘lungs of the Earth.’
             But did you know that around 50-80% of oxygen production on our planet comes from our oceans? Most of this oxygen is produced by plankton and other 
             photosynthesising bacteria. In turn, this oxygen is consumed by marine life and by humans too in the air we breathe. The moral or the story? For a 
             healthy atmosphere, we need a healthy ocean. And a healthy ocean needs healthy coral reefs.</p>

        <h3>All is not lost...yet</h3>
        <p>It’s tough to predict exactly what the disturbance to the biodiversity of our oceans would lead to if coral reefs were to disappear forever. But one 
            thing’s for sure, it wouldn’t be pretty. The truth is, this hypothetical scenario is getting all too real. We’ve already lost so much coral cover 
            around the world. More must be done to prevent rapid damage to our remaining reefs. </p>
        <p> At Reef World, we are supporting ICRI’s Recommendation calling for global action to tackle this challenge. We’re also dedicated to preserving our coral 
            reefs through the coordination of UNEP’s Green Fins initiative, on a global drive for environmentally-friendly snorkelling and diving practices. </p>
        <P> The stats may be frightening, but don’t lose hope. We all have the power in the choices we make to flip the script on coral reef damage. Whether it’s 
            arranging a beach cleanup, cutting down on your plastic consumption,diving with a Green Fins member or sharing your support for the ICRI Recommendation 
            that coral reefs must be prioritised in the Convention on Biological Diversity’s (CBD) post-2020 Global Biodiversity Framework (GBF). With a little 
            awareness and conscious effort, we can all do our bit to help save our coral reefs from extinction and protect them for future generations to enjoy.</P>
        <img class = "img1" src ="images/earth.jpg">
     </div><br>
     <h1 class="center">Read about:</h1>

     <div class="tilesart">

        <a class="tile" href="/HelpCorals"><img src="images/hcr.jpg" />
            <div class="details"><span class="title">You want to help?</span><span class="info">Learn how can you help to save coral reefs</span></div>
        </a>
        <a class="tile" href="/TechCorals"><img src="images/tech.jpg" />
            <div class="details"><span class="title ">Technology for corals</span><span class="info">In today's world technology is vital for corals</span></div>
        </a>
    </div>

     <%- include('partials/footer') %>
     <script src = "/js/scrollToTop.js"></script>
</body>
</html>