<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainPageStyle.css">
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <title>Coral Heaven</title>
</head>
<body>
    <header>
        <img class="logo" src="" alt="logo">
        <nav>
            <ul class="nav-links">
                <li><a class = "a" href="">Home</a></li>
                <li><a class = "a" id="go-to-about" href="index.html#about">About us</a></li>
                <li><a class = "a" id="go-to-articles" href="index.html#articles">Articles</a></li>
                <li><a class = "a" href="/game">Game</a></li>
            </ul>
        </nav>
        <a class="contact-link" href=""><button class="contact-button">Contact</button></a>
        <a class="contact-link" href=""><button class="contact-button">Login/Register</button></a>
    

    </header>

    <div class = "frontPageImage">
       <div>
        <img class = "photo1" src = "/images/frontpageimg.jpg">
       </div>
        <div class ="p1">
            <p> The website where you can discover the world of corals</p>
        </div>
    </div>

    <div class="div1">
        <center>
                <!-- It will take the user to the contact page-->
                <p class ="p2">If you need to contact us, you can do it by clicking the button below</p>
                <button class="contact" ><a class="none" href="contact.html">Contact us</a></button>
        </center>
    </div >

    <p class="p3" id = "articles">Read about</p>

    <div class="big">
        <!-- 6 divs with a hover effect through which when the user moves the mouse over the photos for which the article is written and a short summary will appear.-->
        <div class="tiles">
            <a class="tile" href="Importance-of-corals.html"><img src="images\why.jpg" />
                <div class="details"><span class="title">The Importance-of-corals</span><span class="info">What is the purpose of corals for our planet</span></div>
            </a>
            <a class="tile" href="HelpCorals.html"><img src="images\hcr.jpg" />
                <div class="details"><span class="title">You want to help?</span><span class="info">Learn how can you help to save coral reefs</span></div>
            </a><br>
            <a class="tile" href="CoralOrgs.html"><img src="images\cra.jpg" />
                <div class="details"><span class="title">Organisations for corals</span><span class="info">Find out which organization take role in saving corals</span></div>
            </a>

            <a class="tile" href="CoralAdoption.html"><img src="images\corala.jpg" />
                <div class="details"><span class="title">Coral Adoption</span><span class="info">The Seychelles offers some interesting things</span></div>
            </a><br>
            <a class="tile" href="TechCorals.html"><img src="images\tech.jpg" />
                <div class="details"><span class="title">Technology for corals</span><span class="info">In today's world technology is vital for corals</span></div>
            </a>
            <a class="tile" href="IoT-for-corals.html"><img src="images\IoT.png" />
                <div class="details"><span class="title ">IoT for corals</span><span class="info">How Internet of Things help corals to survive</span></div>
            </a>
        </div>
    </div>
   
    <!-- Three divs with information about our team-->
        <div class="about">
            <div class="aboutleft">
                <!-- Div with information about our team and our aim-->
                <div class="p5" id="about">
                    <h4 class = "p4">About Us</h4>
                    <p>We are team of three guys from Burgas, Bulgaria. </p>
                    <p>We are students from Vocational School Of </p>
                    <p>Computer Programming And Innovations and </p>
                    <p>we study web design and computer programming.</p>
                    <br>
                    <p>Our goal is to create a website with which we can</p>
                    <p>educate people about the global problem of corals</p>
                    <p>and help saving our planet.</p>
                </div>
            </div>
            <!-- Div with information about the roles in our team-->
            <div class="aboutright">
                <div class="p6">
                    <h4 class = "p4"> Team</h4>
                    <p>Georgi Kalchev </p>
                    <p>Tsvetan Tinev</p>
                    <p>Trani Tranev</p>
                    <p>Hakan Chandar</p>
                    <p>Stefan Chapkanov</p>
                </div>
            </div>
        </div>
        
        <footer>
            <div class="rights">
                <p class="white"> © 2021 Coral Heaven. All Rights Reserved.</p>
            </div>
        </footer>
    
<script src = "js\indexScript.js"></script>
</body>
</html>