<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/articles.css">
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <title>Organisations helping corals</title>
</head>
<body>

    <%- include('partials/header') %>
    <%- include('partials/scrollToTop') %>

    <div class = "article">
        <h1>Marine IoT for Coral Reefs</h1>
        <p> Coral reefs are beautiful but vulnerable, and have historically been difficult to monitor. CSIRO’s Data61 is using automation to develop new 
            monitoring and surveying methods.</p>

        <h2>Understanding coral reefs</h2>
        <p> Home to a large number of marine animal species, coral reefs are unique, beautiful, and mysterious, and both protect and provide. However, 
            they are fragile, and despite their massive size, large areas of the reef can be impacted by small variations of the environmental conditions.</p>
        
        <p> Existing scientific evidence shows that the reefs are in danger from global warming, pollution, overfishing, and boat traffic. Yet comprehensive 
            understanding of the current state and the future of the reef is unclear, due to the need to collect long-term data over large spatial scales and the 
            forbidding operating conditions.</p>

        <h2>Technology to collect data on coral reefs</h2>
        <p> CSIRO scientists from Data61, Oceans and Atmospheres, Manufacturing and Energy are collaborating with the Australian Institute of Marine Science, 
            Deakin University, BABEL-sbf and the University of Queensland to develop monitoring and communication technologies for collecting environmental and 
            physiological data in coastal ecosystems, and models/algorithms that use the data to characterise the impact of human activities on these ecosystems. 
            The CSIRO research is led and sponsored through CSIRO’s Active Integrated Matter Future Science Platform (AIM FSP).</p>

        <p> Specifically, they are developing optical and acoustic technology for high-resolution mapping of underwater structures and characterisation of underwater 
            habitats, sensors for monitoring the physiology of reef species, and eDNA technology for in-situ detection of specific marine species.</p>

        <p> They focus on high-profile challenges, including Crown of Thorns Starfish (CoTS) outbreaks, coral bleaching, and the impacts of global climate change on 
            home ranges and behaviour of indicator marine species.</p>

        <p> They have validated their technology portfolio through lab and field trials: evaluation of reef health and biodiversity at Heron and Rottnest Islands; and 
            validation of physiological and behavioural sensors in the National Sea Simulator.</p>

        <p>In the next phase, they will demonstrate the capability to monitor remote coastal ecosystems, based on their entire technology portfolio:
            <ul> 
                <li class = "black">static and mobile sensor platformsv</li>
                <li class = "black">single-site monitoring and broad-scale survey systems</li>
                <li class = "black">equipment operated by domain users and platforms that operate autonomously.</li>
            </ul> 
        </p>

        <img class = "img2" src = "images/IoT.png"><br>
        <p>The image above shows habitat maps by drone, underwater LIDAR mapping, Crown of Thorns Starfish detection, the Corycaeus Underwater Hyperspectral Imager, 
            behaviour and habitat selection monitors, monitors for feeding, stress, and reproduction, solar-powered infrastructure powering ulow-power underwater 
            comms, low-power long-range radio frequency transmissions, monitors for biodiversity and structure, and coral health and pathogens, and finally, 
            eDNA-based detection of CoTS larvae and adult Irukandji jellyfish.</p>

        <h2>The result: Improved analytics on a broader reef scale</h2>
        <p>Global warming related coral bleaching and Crown of Thorns Starfish (CoTS) outbreaks are considered globally as top threats to coral reefs, 
           and the Great Barrier Reef Marine Park Authority has been investing significant resources on a broad-scale CoTS Control Program in Australia.</p>
        
        <p>Annual Great Barrier Reef Marine Park Authority-funded diver-based operations on the Great Barrier Reef (GBR) can cover about two per cent of the GBR. 
           Fast hybrid gliders capture, analyse and archive high quality video at speeds of up to 8kts and depths to 40m.</p>

        <p>Three such gliders could survey every reef on the GBR, every year. In addition to the dramatic coverage improvement, they estimate 10 to 100-fold 
            improvements in target localisation accuracy and 10 to 100-fold improvements in latency.</p>
        
        <p>An order of magnitude improvement in the reef survey capability will translate to major societal and environmental impacts, through better, more 
            accurate, data-driven management of coral reef environments and timely mitigation of their major threats.</p>

        <p>In addition, their platform will enable exploration of deeper and remote environments, which will lead to new science and better understanding of coral 
            reef habitats.</p>
    </div>

    <h1 class="center">Read about:</h1>

    <div class="tilesart">

        <a class="tile" href="/HelpCorals"><img src="images/hcr.jpg"/>
            <div class="details"><span class="title">You want to help?</span><span class="info">Learn how can you help to save coral reefs</span></div>
        </a>
        <a class="tile" href="/TechCorals"><img src="images/tech.jpg" />
            <div class="details"><span class="title ">Technology for corals</span><span class="info">In today's world technology is vital for corals</span></div>
        </a>
    </div>

    <%- include('partials/footer') %>
    
    <script src = "/js/scrollToTop.js"></script>
</body>
</html>