<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/formsStyle.css">
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <title>Register</title>
</head>
<body>

    <%- include('partials/header') %> 

    <div class="form-container">
        <form name = "registration-form" class="contact-form" method="POST" action="/login">
            <h2 class = "FormLable">Login</h2>
            <input type="text" name="username" id="username" placeholder="Username" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input class="submit" type="submit" value = "Login">
        </form>
    </div>

    <%- include('partials/footer') %>
</body>
</html>