<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form method="POST" action="/register">
        <input type="First name" name="first_name" value="Georgi">
        <input type="Last name" name="last_name" value="Pamenov">
        <input type="Username" name="username" value="PomeloFruit">
        <input type="Email" name="email" value="georgipamenov@abc.bg">
        <input type="Password" name="password" value="gpamenov123">
        <input type="Age" name="age" value="32">
        <button type="submit">Submit</button>
    </form>
</body>
</html>