<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/formsStyle.css">
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <title>Register</title>
</head>
<body>

    <%- include('partials/header') %> 

    <div class="form-container">
        <form name = "registration-form" class="contact-form" method="POST" action="/register">
            <h2>Register</h2>
            <input type="text" name="username" id="username" placeholder="Username" required>
            <input type="text" name="first_name" id="first_name" placeholder="First name" required>
            <input type="text" name="last_name" id="last_name"  placeholder="Last name" required>
            <input type="email" name="email" id="email" placeholder="email: example@gmail.com" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="number" name="age" id="age" placeholder="Age" required>
            <input class="submit" type="submit" value = "Register">
        </form>
    </div>

    <%- include('partials/footer') %>
</body>
</html>