<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/articles.css">
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <title>How Technology is Saving the World’s Coral Reefs</title>
</head>
<body>
    <header>
        <img class="logo" src="images/coral_heaven_logo.png" alt="logo">
        <nav>
            <ul class="nav-links">
                <li><a class = "a" href="/">Home</a></li>
                <li><a class = "a" id="go-to-about" href="/#about">About us</a></li>
                <li><a class = "a" id="go-to-articles" href="/#articles">Articles</a></li>
                <li><a class = "a" href="/game">Game</a></li>
            </ul>
        </nav>
        <a class="contact-link" href="/contact"><button class="contact-button">Contact</button></a>
        <a class="contact-link" href=""><button class="contact-button">Login/Register</button></a>
    </header>

    <div class = "article">

        <h1>How Technology is Saving the World’s Coral Reefs</h1>
        
        <p>
            To help preserve and restore coral, scientists are using an innovative technology called biorock. 
            Biorock is a piece of technology that has a low-voltage direct current which is run through steel. 
            This electricity can then interact with minerals in the seawater and cause solid limestone to grow on the structure. 
            It uses the same principles as electrolysis, where the electric current causes a chemical reaction to occur that wouldn’t normally happen.
            Coral fragments from other reefs can than be translocated to the biorock 
            structure where they can grow due to the natural mineral crystals that were formed.
            This type of technology is being used as conservation measures for coral reefs. 
            This is because this type of technology can speed up the normal processes of coral growth.
            When a diver sees an injured coral they can move them to these structures so that they can continue to grow and heal. 
            The coral then have 50% greater chance of survival then they had before. Biorocks have also helped fish and lobster populations, especially juveniles who shelter in the structures.
        </p>
        <img class = "img1" src="images/robots.jpg" alt = "error" width="500" height="400">
	<br>
	<h1>Underwater robots that mimic ocean life	:</h1>
        <p>
            Underwater robots may be a key in helping us understand coral reef systems. 
            Underwater robots were recently developed by researchers at Scripps Institution of Oceanography at the University of California 
            San Diego. This new tool can offer a new way to study ocean currents as well as the creatures that are in the ocean.  
            Right now the goal of these underwater robots is to use them to help answer questions about the most abundant form of 
            life in the ocean: plankton. The researchers at Scripps have designed and built 
            these underwater explorers to study small scale environmental processes that are taking place in the ocean. 
            These robots include probes that are equipped with temperature and other sensors to measure ocean conditions by 
            swimming up and down or by maintaining a constant depth. 
        </p>
        <img class = "img1" src="images/koral..jpg" alt = "error" width="500" height="400">
        <br>
        <h1>3D PRINTED CORAL ENCOURAGES REEF RESTORATION</h1>
            <p>
                As coral reefs are declining at fast rates, scientists are struggling to find effective and innovative ways to save them. 
                One of the new ways they are doing this is by 3D printing. 
                3D printing has become a common way to construct many things such as human organs. 
                3D printing of portions of reefs can replace lost pieces of coral.  
                These “fake” reefs are thought to be less vulnerable to climate change and more resilient to changing environmental conditions. 
                Scientists are using 3D printing technology that helps them to create fake reefs to mimic the texture and 
                structure of the natural reefs in an effort for restoration. These experimental 3D printed reefs have already been 
                implemented in the Mediterranean, the Caribbean, the Persian Gulf, and Australia. 
                If they succeed, it will allow for new habitat for fish, but also baby coral polyps to attach themselves and multiply
                to grow into new reefs.
            </p>
        <img class = "img1" src="images/coral_after.png" alt = "error" width="500" height="400">
    </div>
    <h1 class="center">Read about:</h1>

    <div class="tilesart">

        <a class="tile" href="/CoralOrgs"><img src="images/cra.jpg"  width="600" height="400"/>
            <div class="details"><span class="title">Organisations for corals</span><span class="info">Find out which organization take role in saving corals</span>
            </div>
        </a>
        <a class="tile" href="/ImportanceOfCorals"><img src="images/why.jpg" width="600" height="400" />
            <div class="details"><span class="title ">Importance of corals</span><span class="info">What is the purpose of corals for our planet</span></div>
        </a>
    </div>
    
    <footer>
        <div class="rights">
            <p class="white"> © 2021 Coral Heaven. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>